*{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: red;
    text-align: center;
    font-size: 2em;
}
nav{
    text-align: right;
}
li{
    display: inline;
    border: 1px solid black;
    background-color: rgb(67, 230, 67);
    padding: 5px;
}
a:hover{
    color: red;
}
h2{
    color: rgb(2, 2, 187);
    font-size: 1.5em;
}
h2+p{
    color: red;
}
img{
    width: 200px;
    height: auto;
    display: none;
}
.logo_html:active + img{
    display: block;
}
.logo_css:active + img{
    display: block;
}