*{
    font-size: 20px;
    text-align: center;

}
table{
    padding: 5px;
    border: 4px solid magenta;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
}
caption{
    font-size: 200%;
    font-weight: bold;
    color: red;
    border: 4px solid rgb(11, 87, 5);
    margin: 10px;
    padding: 2px;
}
th{
    background-color: yellow;
    border: 1px solid blue;
}
td{
    background-color: rgb(255, 255, 255);
    border: 1px solid blue;
    width: 25%;
}
.black{
    background-color: black;
    color: white;
}
.silver{
    background-color: silver;
}
.white{
    background-color: white;
}
.maroon{
    background-color: maroon;
    color: white;
}
.red{
    background-color: red;
    color: white;
}
.purple{
    background-color: purple;
    color: white;
}
.fuchsia{
    background-color: fuchsia;
    color: white;
}
.green{
    background-color: green;
    color: white;
}
.lime{
    background-color: lime;
    color: white;
}
.olive{
    background-color: olive;
    color: white;
}
.yellow{
    background-color: yellow;
}
.navy{
    background-color: navy;
    color: white;
}
.blue{
    background-color: blue;
    color: white;
}
.teal{
    background-color: teal;
    color: white;
}
.aqua{
    background-color: aqua;
    color: black;
}
.orange{
    background-color: orange;
    color: white;
}