*{
    font-size: 25px;
}
.banner {
    background: url("../pic/banner.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 12rem;
    text-align: center !important;
    color: rgb(236, 69, 69) !important;

}
h2 {
    font-size: 75px;
}
.slogan {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100% ;
    padding-right: 0.5rem;
    padding-left: 3rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.sport{
    width: 100%;
}
#1 {
    
    width: 50% !important;
}
img {
    width: 1000px;
    height: auto;
}